#navbar{
   
    background-color: rgb(241, 207, 239) ;
    display: flex;
    align-items: row;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
}
.class1
{
    color: rgb(26, 31, 31);
    
    border-radius: 10px;
    box-sizing: border-box;
   
    margin: 10px;
    justify-content: left;
    display: block;
    padding: 10px;
    
   background-color: rgb(238, 145, 152);
}
.class2
{

    box-sizing: border-box;
    background-color: rgb(237, 240, 240);
    justify-content: center;
    align-items: baseline;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}